data_src/
checkpoints/
*.pyc
.vscode/
.ipynb_checkpoints/
# dtu_configs/
# nerf_synth_configs/
*.mov
*.bag
*.ply
output/
*.npy
data/**/*.png
sparse/
dense/
*.db
do_not_submit/
__pycache__/
csc2530_data/